In [1]:
import seaborn as sns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation

In [3]:
# Filter data for years between 1960 and 2015:

df = pd.read_csv('gapminder_total.csv')
df

           continent    country  year  Life_Expectancy  fertility  population
0             Africa    Algeria  1950            42.77       7.65   8872247.0
1             Africa    Algeria  1951            43.03       7.65   9039913.0
2             Africa    Algeria  1952            43.50       7.65   9216395.0
3             Africa    Algeria  1953            43.96       7.65   9405445.0
4             Africa    Algeria  1954            44.44       7.65   9609507.0
...              ...        ...   ...              ...        ...         ...
11083  South America  Venezuela  2011            74.80       2.44  29427631.0
11084  South America  Venezuela  2012            74.60       2.42  29854238.0
11085  South America  Venezuela  2013            74.70       2.39  30276045.0
11086  South America  Venezuela  2014            74.80       2.36  30693827.0
11087  South America  Venezuela  2015            74.80       2.34  31108083.0

[11088 rows x 6 columns]

In [4]:
df_subset = df[df["year"] == 1950]
df_subset

           continent    country  year  Life_Expectancy  fertility  population
0             Africa    Algeria  1950            42.77       7.65   8872247.0
66            Africa     Angola  1950            30.70       6.93   4354882.0
132           Africa      Benin  1950            33.22       5.75   2255221.0
198           Africa   Botswana  1950            46.68       6.47    412533.0
264           Africa    Burundi  1950            38.07       6.82   2308923.0
...              ...        ...   ...              ...        ...         ...
10758  South America   Paraguay  1950            63.93       6.49   1473245.0
10824  South America       Peru  1950            43.74       6.86   7727735.0
10890  South America   Suriname  1950            55.12       6.58    214999.0
10956  South America    Uruguay  1950            65.89       2.69   2238506.0
11022  South America  Venezuela  1950            54.33       6.54   5481977.0

[168 rows x 6 columns]

In [5]:
for year in range(1960, 2016):
    plot = df[df["year"]==year]
    plt.figure(figsize= (10,6))
    plt.axis([0, 85, 0, 9.5])
    sns.set_style("darkgrid")
    sns.scatterplot(x="Life_Expectancy", y="fertility", data= plot, hue= "continent", alpha=0.9, size= "population").set(title= "Life Expectancy vs Fertility Rate")
    plt.xticks(rotation= 45)
    plt.legend(loc= "lower left", frameon= False)
    plt.savefig(f'../data/plot{year}.png') 
    plt.close()

In [6]:
import imageio.v2 as imageio

images = []

for year in range(1960, 2016):
    filename = f'../data/plot{year}.png'
    images.append(imageio.imread(filename))

imageio.mimsave('../data/life_expectancy_and_fertility_new.gif', images, duration=200)

In [7]:
from IPython.display import display, HTML

# Specify the path to your GIF file
gif_path = '../data/life_expectancy_and_fertility_new.gif' 

# Embed the GIF using HTML
html_code = f'<img src="{gif_path}">'
display(HTML(html_code))

In [11]:
HTML('<img src=life_expectancy_and_fertility_new.gif>')